SECRET_KEY=cambia-esta-clave
DATABASE_URL=postgresql://USUARIO:CLAVE@HOST:5432/BASE
APP_DATA_DIR=./data
GOOGLE_DRIVE_SYNC_MODE=off
GOOGLE_DRIVE_FILE_NAME=historial_produccion_maestro.xlsx
# Solo si vas a activar Google Drive:
# GOOGLE_SERVICE_ACCOUNT_FILE=./google-service-account.json
# GOOGLE_DRIVE_FOLDER_ID=TU_FOLDER_ID
